## How to install libraries in Python?
- Use the tool **(pip)** for Windows and **(pip3)** for Mac

In [ ]:
# pip install pandas
# pip install numpy

In [ ]:
import pandas as pd

# Import Libraries

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
# Object Creation 
s = pd.Series([1,4,53,65,7,np.NaN,34,5])
s

In [ ]:
dates = pd.date_range("20220724", periods=10)
dates

## Data Frame In Pandas.

In [ ]:
df= pd.DataFrame(np.random.randn(10,5), index=dates, columns=list("ASDFG"))
df

In [47]:
df2= pd.DataFrame(
    {
       "A": 1.0,
       "B": pd.Timestamp("20220725"),
       "C": pd.array([2]*6,dtype="int64"),
       "D": pd.Series(3,index=list(range(6)),dtype="int64"),
       "E": pd.Categorical(["Woman","Girl","Woman","Girl","Woman","Girl"]),
       "F": "Females"
    }
)
df2

     A          B  C  D      E        F
0  1.0 2022-07-25  2  3  Woman  Females
1  1.0 2022-07-25  2  3   Girl  Females
2  1.0 2022-07-25  2  3  Woman  Females
3  1.0 2022-07-25  2  3   Girl  Females
4  1.0 2022-07-25  2  3  Woman  Females
5  1.0 2022-07-25  2  3   Girl  Females

In [ ]:
df2.dtypes

In [ ]:
df2.head()

In [ ]:
df2.head(2)

In [ ]:
df2.tail(2)

In [ ]:
df2.index

In [ ]:
df.index

In [ ]:
df2.T

In [ ]:
# df.sort_index(axis=0,ascending=True)
df.sort_index(axis=0,ascending=False)

In [ ]:
# df.sort_values(by="D",ascending=True)
df.sort_values(by="D",ascending=False)

In [ ]:
df2['D']

In [ ]:
# row wise selection
df2[0:3]

In [ ]:
df.loc[dates[2]]

In [ ]:
df2.loc[2]

In [ ]:
df2.loc[0]

In [ ]:
df2.loc[:,['A','C']]

In [ ]:
df2.loc[0:3,['A','C']]

In [ ]:
# If you have index value then not use apostrophes like "" , '' around the values. 
df2.loc[[0,3],["A","C"]]

In [ ]:
df.dtypes

In [ ]:
df.loc['20220724':'20220726',['A','D']]

In [ ]:
# if you have defined value in the place of index, so use the apostrophes like these signs "" , ''
df.loc[['20220724','20220726'],['A','D']]

In [ ]:
# if you have a defined value then use dic bracket for index
df.at[dates[2],"S"]

In [ ]:
# if you have a simple indexed value, so please you one bracket
df2.at[2,'E']

In [ ]:
df.iloc[0:4,0:3]

In [ ]:
df2.iloc[0:2,0:2]

In [ ]:
df.iloc[:,0:0]

In [ ]:
# Filtering Data
df[df['S']>1]

In [ ]:
df[df>0]

In [ ]:
df3 = df.copy()

In [48]:
df2

     A          B  C  D      E        F
0  1.0 2022-07-25  2  3  Woman  Females
1  1.0 2022-07-25  2  3   Girl  Females
2  1.0 2022-07-25  2  3  Woman  Females
3  1.0 2022-07-25  2  3   Girl  Females
4  1.0 2022-07-25  2  3  Woman  Females
5  1.0 2022-07-25  2  3   Girl  Females

In [52]:
df2['With Panda']=['3','4','5','6','5','6']
df2

     A          B  C  D      E        F With Panda
0  1.0 2022-07-25  2  3  Woman  Females          3
1  1.0 2022-07-25  2  3   Girl  Females          4
2  1.0 2022-07-25  2  3  Woman  Females          5
3  1.0 2022-07-25  2  3   Girl  Females          6
4  1.0 2022-07-25  2  3  Woman  Females          5
5  1.0 2022-07-25  2  3   Girl  Females          6